body{
    background-color: rgb(160, 160, 65);
}

.flex-container{
    border: 1px solid black;
    background: #ccc;
    padding: 20px;
    display: flex;/*este atributo permite estilizar con las props de flexBox*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 80%;
    align-items: center;
    align-content: center;
    height: 600px;
    margin: 0 auto;
}

.caja{
    border: 1px solid rgb(70,69,69);
    background-color: white;
    color: rgb(201, 15, 15);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 200px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    margin: 5px;
}

.c1{
    background: lightblue;
    order: 3;
    flex-grow: 1;
}

.c2{
    background: lightcoral;
    order: 1;
    flex-grow: 3;
}

.c3{
    background: lightgreen;
    order: 2;
    flex-grow: 5;
}