body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-layout{
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto  ;
    justify-content: stretch; /*por defecto*/
    width: 80%;
    margin: 0 auto;
    background-color: lightgreen;
    padding: 20px;
    border: 1px solid black;
}

.caja{
    
    border: 4px solid black;
    
    text-align: center;
    line-height: 150px;
}

/*propiedades de los elementos hijos del grid*/
.c1{
    grid-column: 1/4;
    background-color: lightskyblue;
}